/* body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,95,0.8856792717086834) 35%, rgba(0,212,255,1) 100%);
} */

div{
    height: 300px;
    width: 800px;
    background: rgb(36,0,0);
background: radial-gradient(circle, rgba(36,0,0,0) 0%, rgba(241,177,216,0.8856792717086834) 35%, rgba(0,212,255,0.5019257703081232) 100%);
}

p{
    font-size: xx-large;
}
/* From https://css.glass
background: rgba(255, 255, 255, 0.69);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border: 1px solid rgba(255, 255, 255, 0.63); */

/* .svgShape{
   height: 500px; 
   width: 500px;
   background-image:url(image/graph-1.png) ;
   border-color: blue; 
}*/

img{
    height: 500px;
    width: 500px;
}
