.seprator{
    height: 50px;
    width: 100%;
    background-color: darkgreen;
}


.container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.div1 img{
    height:"300px" ;
    width:"200px";
}

.div2 img{
    height:"300px";
     width:"200px";
}

.div2{
    display: none;
}
