
.btndiv{
    height: 50px;
    width:100px;
    display:inline-flex;
    align-items: self-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.navbar{
    background-color: #32a852;
}