html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.header{
    height: 60px;
    width: 100%;
    margin-bottom: 0px;
}

.para{
  margin-top: 20px;
}

.container{
  display: flex;
}


.navbar{
  background: rgb(12,50,131);
  background: linear-gradient(90deg, rgba(12,50,131,0.891281512605042) 13%, rgba(255,255,255,0.4767156862745098) 100%);  
}

.sidenav {
    height: 100%;
    width: 200px; 
    position: fixed; 
    /* z-index: 1;  */
    top: 105px; 
    left: 0;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
    background: rgb(12,50,131);
    background: linear-gradient(90deg, rgba(12,50,131,0.891281512605042) 13%, rgba(255,255,255,0.4767156862745098) 100%);  
}
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
  }

  .gridcards{
        margin-left: 50px;
        margin-right: 50px;
        padding-right: 100px;
        background: rgba(254, 254, 254, 0.03);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.3px);
        -webkit-backdrop-filter: blur(3.3px);
        border: 1px solid rgba(254, 254, 254, 0.2);
  }

  .tablediv{
    margin: 50px;
    background: rgba(254, 254, 254, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(254, 254, 254, 0.2);
    color: green;
  }

  #main{
      transition: margin-left .5s;
      padding: 10px;
  }



